/*  
*@Description: riilsmart public ico css   
*@Author:      viviann
*@Update:      viviann(2013-08-26)  
*/ 
@charset "UTF-8";
*[class^="icon_"],*[class^="ico-"], *[class^="big_"],*[class^="alarm"],*[class^="rank-"],*[class^="shortcut_"],*[class^="port_"],*[class^="status"],*[class^="tool_"],*[class^="color-"],
.icon, .rank, .back, .check, .check_s, .ltor, .rtol
 { width:16px; height:16px; line-height:16px; margin-right:2px; vertical-align:middle; display: inline-block; background:url(../images/ico/icon.png) no-repeat; cursor:pointer;overflow:hidden;}
.icon_phone		{ background-position:-30px 0px}
.icon_key		{ background-position:-60px 0px;}
.icon_user		{ background-position:-90px 0px;}
.icon_exit		{ background-position:-120px 0px;}
.icon_tshirt	{ background-position:-150px 0px;}
.icon_help		{ background-position:-180px 0px;}
.icon_c			{ background-position:-210px 0px;}
.icon_date		{ background-position:-240px 0px;}
.icon_ask       { background-position:-480px 0px;}
.icon_bookmark	{ background-position:-270px 0px; width:14px; height:24px;}
.icon_plus		{ background-position:-120px -30px;}
.icon_plus:hover{ background-position:-150px -30px;}
.icon_cross_s	{ background-position:-180px -30px;		width:10px; height:10px;}
.icon_cross_s:hover{ background-position:-210px -30px;}
.icon_pointer	{ background-position:-240px -30px;}
/*portlet ico*/
.ico-info		{ background-position:0px -30px;	float:right}
.ico-zoom		{ background-position:-30px -30px;	float:right}
.ico-resize		{ background-position:-60px -30px;	float:right}
.ico-terminal	{ background-position:-90px -30px;	float:right}
.ico-table		{ background-position:-30px -60px; float:right}
.ico-chart		{ background-position:-60px -60px; float:right}
.ico-set		{ background-position:-90px -60px; float:right}
.ico-scan		{ background-position:-120px -60px;float:right}
.ico-update		{ background-position:-150px -60px;float:right}
.ico-del		{ background-position:0px -60px;   float:right}
.ico-panel		{ background-position:-180px -60px; float:right;}
.portlet .ico-quit			{ display:none;}
.portlet .ico-del			{ display: inline-block;}
.panel .ico-quit			{ background-position:-195px -30px;width:10px; height:10px; position:absolute; top:9px; right:10px;}
.panel .ico-quit:hover		{ background-position:-210px -30px;}
.panel_null .ico-quit		{ background-position:-240px -360px;width:24px; height:24px;position:absolute; top:-6px; right:-6px;}
.panel_null .ico-quit:hover	{ background-position:-270px -360px;}
.layer	.ico-quit			{ display:none}
/*portlet title ico*/
.icon_pie		{ background-position:0px -90px;   float:left; margin-right:5px}
.icon_node		{ background-position:-30px -90px; float:left; margin-right:5px}
.icon_chartblue	{ background-position:-60px -90px; float:left; margin-right:5px}
.icon_flag		{ background-position:-90px -90px; float:left; margin-right:5px}
.icon_alarm		{ background-position:-120px -90px;float:left; margin-right:5px}
.icon_star		{ background-position:-150px -90px;float:left; margin-right:5px}
.icon_nodeline	{ background-position:-180px -90px;float:left; margin-right:5px}
.icon_price		{ background-position:-210px -90px;float:left; margin-right:5px}
/*tree ico*/
.ico-tool		{ background-position:-150px -690px; width:20px; height:20px;}
.ico-tool:hover	{ background-position:-150px -720px;}
.ico-file		{ display:none}
.ico-file-leaf	{ display:none}
/*------*/
.icon_arrow_r	{		background-position:-270px -30px; 	width:21px; height:43px;}
.icon_arrow_l	{		background-position:-270px -120px; 	width:21px; height:43px;}
.icon_arrow_r:hover	{	background-position:-270px -75px; 	width:21px; height:43px;}
.icon_arrow_l:hover	{	background-position:-270px -165px; 	width:21px; height:43px;}
.icon_arrow_rb	{		background-position:-270px -75px; 	width:21px; height:43px;}/*arrow block*/
.icon_arrow_lb	{		background-position:-270px -165px; 	width:21px; height:43px;}/*arrow block*/
.icon_arrow_rb:hover	{	background-position:-270px -210px; 	width:21px; height:43px;}
.icon_arrow_lb:hover	{	background-position:-270px -255px; 	width:21px; height:43px;}
.icon_up			 	{	background-position:-225px -60px; 	width:8px; height:8px;}
.icon_down				{	background-position:-240px -60px; 	width:8px; height:8px;}
.icon_right		{	background-position:-225px -75px;	width:8px; height:8px;}
.icon_offline	{	background-position:0px -180px;		width:24px; height:24px;}
.icon_online	{	background-position:-30px -180px;	width:24px; height:24px;}
.icon_unknown	{	background-position:-60px -180px;	width:24px; height:24px;}
.icon_info_gray	{	background-position:-150px -180px}
.icon_open		{	background-position:-210px -60px; width:10px; height:14px;}
.icon_close		{	background-position:-210px -75px; width:10px; height:14px;}
/*check&radio*/
.icon_checked		{	background-position:-240px -330px;}
.icon_checked.dis	{	background-position:-270px -330px;	cursor: default}
.icon_uncheck		{	background-position:-300px -330px;}
.icon_uncheck.dis	{	background-position:-330px -330px;	cursor: default}
.icon_check_harf	{	background-position:-360px -330px;}
.icon_checked:hover	{	background-position:-390px -330px;}
.icon_checked.dis:hover	{	background-position:-270px -330px;	cursor: default}
.icon_uncheck:hover	{	background-position:-420px -330px;}
.icon_uncheck.dis:hover	{	background-position:-330px -330px;	cursor: default}
.icon_checked:active{	background-position:-450px -330px;}
.icon_uncheck:active{	background-position:-480px -330px;}
.icon_radioed		{	background-position:-240px -300px;}
.icon_radioed.dis	{	background-position:-270px -300px;	cursor: default}
.icon_unradio		{	background-position:-300px -300px;}
.icon_unradio.dis	{	background-position:-330px -300px;	cursor: default}
.icon_radioed:hover	{	background-position:-390px -300px;}
.icon_radioed.dis:hover	{	background-position:-270px -300px;	cursor: default}
.icon_unradio:hover	{	background-position:-420px -300px;}
.icon_unradio.dis:hover	{	background-position:-330px -300px;	cursor: default}
.icon_radioed:active{	background-position:-450px -300px;}
.icon_unradio:active{	background-position:-480px -300px;}
/*icon*/
.icon_scan		{ background-position:-120px -60px;}
.icon_tick		{	background-position:-210px -270px;}
.icon_loading	{	background:url(../images/ico/loading_s.gif)}
.icon_ribbon	{	background-position:-240px -300px; width:34px; height:44px; cursor:default}
.icon_ribbon_num{	background-position:-285px -300px; width:34px; height:44px; line-height:34px; cursor:default; color:#fff; font-family:Verdana, Geneva, sans-serif; font-weight:bolder; text-align:center; overflow:hidden}
.icon_i			{	background-position:-240px -270px; width:20px; height:20px;}
.icon_important	{	background-position:-210px -630px; width:25px; height:20px;}
.icon_record	{	background-position:-210px -660px;}
.icon_addto		{   background-position:-240px -630px}
.icon_addto:hover{  background-position:-240px -660px}
.icon_home		{   background-position:-270px -630px; width:27px; height:26px;}
.icon_home:hover{   background-position:-270px -660px}
.icon_plot		{   background-position:-300px -630px;}
.icon_warning	{	background-position:-150px -210px}
.check			{	background-position:-300px -180px; 	width:60px; height:60px;}
.check_s		{	background-position:-450px -180px; 	width:50px; height:45px;}
.ltor			{	background-position:-360px -180px; 	width:30px; height:30px; margin:0px;}
.rtol			{	background-position:-360px -210px; 	width:30px; height:30px; margin:0px;}
.icon_switchon	{	background-position:-390px -180px; width:55px; height:20px; margin-right:6px;}
.icon_switchoff	{	background-position:-390px -210px; width:55px; height:20px;margin-right:6px;}
/*-------------ico for table---------------*/
.rank-up		{	background-position:-60px -740px; width:10px; height:33px;float:right;}
.rank-down		{	background-position:-90px -740px; width:10px; height:33px;float:right;}
.rank-down-grace{	background-position:-120px -740px;width:10px; height:33px;float:right;}
.rank-up-grace	{	background-position:-150px -740px;width:10px; height:33px;float:right;}
.rank-pull		{	background-position:0px -740px;  			  height:33px;float:right;}
.rank-pull:hover{	background-position:-30px -740px;}
/*-------------btn---------------*/
.icon_eye				{	background-position:0px -210px;}
.icon_inbox				{	background-position:-60px -210px;}
.icon_outbox			{	background-position:-30px -210px;}
.icon_edit				{	background-position:-90px -210px;}
.icon_edit_g			{	background-position:-90px -180px;}
.icon_trash				{	background-position:-120px -210px;}
.icon_info				{	background-position:-150px -210px;}
.icon_compose			{	background-position:-180px -210px;}
.icon_checkmark			{	background-position:-210px -210px;}
.icon_repeat			{	background-position:-240px -210px;}
a.btn:hover .icon_eye							{	background-position:0px -240px;}
a.btn:hover .icon_inbox							{	background-position:-60px -240px;}
a.btn:hover .icon_outbox						{	background-position:-30px -240px;}
a.btn:hover .icon_edit,.icon_edit:hover			{	background-position:-90px -240px;}
a.btn:hover .icon_edit_g,.icon_edit_g:hover		{	background-position:-90px -240px;}
a.btn:hover .icon_trash							{	background-position:-120px -240px;}
.icon_info:hover								{	background-position:-150px -240px;}
a.btn:hover .icon_compose						{	background-position:-180px -240px;}
a.btn:hover .icon_checkmark						{	background-position:-210px -240px;}
a.btn:hover .icon_repeat,.icon_repeat:hover 	{	background-position:-240px -240px;}
.icon_share				{	background-position:0px -330px;}
.icon_fresh				{	background-position:-30px -330px;}
.icon_cross				{	background-position:-60px -330px;}/*未使用*/
.icon_set				{	background-position:-90px -330px;}
.icon_search			{	background-position:-120px -330px;}
.icon_apply				{	background-position:-150px -330px;}
.icon_plusc				{	background-position:-180px -330px;}
.icon_plusc_g			{	background-position:-180px -300px;}
.icon_minus				{	background-position:-210px -330px;}
.icon_minus_g			{	background-position:-210px -300px;}
a.btn:hover .icon_share,.icon_share:hover		{	background-position:0px -360px;}
a.btn:hover .icon_fresh							{	background-position:-30px -360px;}
a.btn:hover .icon_cross							{	background-position:-60px -360px;}
a.btn:hover .icon_set							{	background-position:-90px -360px;}
a.btn:hover .icon_search,.icon_search:hover		{	background-position:-120px -360px;}
a.btn:hover .icon_apply	,.icon_apply:hover		{	background-position:-150px -360px;}
a.btn:hover .icon_plusc,.icon_plusc:hover		{	background-position:-180px -360px;}
a.btn:hover .icon_plusc_g,.icon_plusc_g:hover	{	background-position:-180px -360px;}
a.btn:hover .icon_minus,.icon_minus:hover		{	background-position:-210px -360px;}
a.btn:hover .icon_minus_g,.icon_minus_g:hover	{	background-position:-210px -360px;}
.icon_recover			{	background-position:0px -690px;}
.icon_export			{	background-position:-30px -690px;}
.icon_group				{	background-position:-60px -690px;}
.icon_more				{	background-position:-90px -690px;}
.icon_import			{	background-position:-120px -690px;}
.icon_rulers			{ 	background-position:-180px -690px;}
.icon_panel				{ 	background-position:-210px -690px;}
a.btn:hover .icon_recover,.icon_recover:hover	{	background-position:0px -720px;}
a.btn:hover .icon_export,.icon_export:hover		{	background-position:-30px -720px;}
a.btn:hover .icon_group,.icon_group:hover		{	background-position:-60px -720px;}
a.btn:hover .icon_more,.icon_more:hover			{	background-position:-90px -720px;}
a.btn:hover .icon_import,.icon_import:hover		{	background-position:-120px -720px;}
a.btn:hover .icon_rulers						{	background-position:-180px -720px;}
a.btn:hover .icon_panel							{	background-position:-210px -720px;}
/*--btn.dis--*/
a.btn.dis .icon_set				{	background-position:-240px -690px; cursor:default}
a.btn.dis .icon_panel			{	background-position:-270px -690px; cursor:default}
a.btn.dis .icon_rulers			{	background-position:-300px -690px; cursor:default}
/*-------------subnav---------------*/
.icon_allfiles	{	background-position:0px -630px;}
.icon_allfiles:hover,.h-subnav:hover .icon_allfiles,.on .icon_allfiles	{	background-position:0px -660px;}
.icon_cog		{	background-position:-120px -660px;}
.icon_cog:hover	{	background-position:-120px -630px}
.icon_server	{	background-position:-30px -630px;}
.icon_network 	{	background-position:-60px -630px;}
.icon_app		{	background-position:-90px -630px;}
.icon_wifi		{	background-position:-150px -630px;}
.icon_modify	{	background-position:-30px -660px;}
.icon_remove	{	background-position:-60px -660px;}
.icon_services	{	background-position:-90px -660px;}
/*-------------alarm---------------*/
.alarm1s		{	background-position:0px -120px;}
.alarm2s		{	background-position:-30px -120px; }
.alarm3s		{	background-position:-60px -120px; }
.alarm4s		{	background-position:-90px -120px; }
.alarm5s		{	background-position:-120px -120px; }
.alarm6s		{	background-position:-150px -120px; }
.color-red		{	background-position:0px -120px;}
.color-yellow	{	background-position:-30px -120px; }
.color-green	{	background-position:-150px -120px; }
/*-------------status---------------*/
.status{			background-position:0px -150px;}
.status_g{			background-position:-60px -150px;}
.status_r{			background-position:-30px -150px;}
.status_y{			background-position:-90px -150px;}
/*-------------mail&phone---------------*/
.icon_email		{	background-position:0px -270px;}
.icon_email_on	{	background-position:-30px -270px; width:20px;}
.icon_email_off	{	background-position:-60px -270px; width:20px;}
.icon_email_gray{	background-position:0px -270px;}
.icon_sms		{	background-position:-90px -270px; width:20px;}
.icon_sms_on	{	background-position:-120px -270px; width:20px;}
.icon_sms_off	{	background-position:-150px -270px;}
.icon_sms_gray	{	background-position:0px -270px;}
/*-------------on&off---------------*/
.icon_on	{ background-position:-90px -300px; width:75px; height:30px;}
.icon_off	{ background-position:0px -300px; 	width:75px; height:30px;}
/*------------big ico-----------------*/
.big_list		{ width:40px; height:40px; background-position:0px -390px}
.big_stats		{ width:40px; height:40px; background-position:-45px -390px}
.big_picture	{ width:40px; height:40px; background-position:-90px -390px}
.big_graph		{ width:40px; height:40px; background-position:-135px -390px}
.big_setting	{ width:40px; height:40px; background-position:-180px -390px}
.big_radar		{ width:40px; height:40px; background-position:-225px -390px}
.big_chat		{ width:40px; height:40px; background-position:-270px -390px}
.big_book		{ width:40px; height:40px; background-position:-315px -390px}
.big_list:hover,	.big_list.on,		a:hover .big_list,		.on .big_list		{ width:40px; height:40px; background-position:0px -435px}
.big_stats:hover,	.big_stats.on,		a:hover .big_stats,		.on .big_stats		{ width:40px; height:40px; background-position:-45px -435px}
.big_picture:hover,	.big_picture.on, 	a:hover .big_picture,	.on	.big_picture	{ width:40px; height:40px; background-position:-90px -435px}
.big_graph:hover,	.big_graph.on, 		a:hover .big_graph,		.on	.big_graph		{ width:40px; height:40px; background-position:-135px -435px}
.big_setting:hover,	.big_setting.on, 	a:hover .big_setting,	.on	.big_setting	{ width:40px; height:40px; background-position:-180px -435px}
.big_radar:hover,	.big_radar.on, 		a:hover .big_radar,		.on	.big_radar		{ width:40px; height:40px; background-position:-225px -435px}
.big_chat:hover,	.big_chat.on, 		a:hover .big_chat,		.on	.big_chat		{ width:40px; height:40px; background-position:-270px -435px}
.big_book:hover,	.big_book.on, 		a:hover .big_book,		.on	.big_book		{ width:40px; height:40px; background-position:-315px -435px}
.big_bell		{ width:40px; height:40px; background-position:0px -540px}
.big_users		{ width:40px; height:40px; background-position:-45px -540px}
.big_clipboard	{ width:40px; height:40px; background-position:-90px -540px}
.big_bell:hover,		.big_bell.on,		a:hover .big_bell,		.on .big_bell		{ width:40px; height:40px; background-position:0px -585px}
.big_users:hover,		.big_users.on,		a:hover .big_users,		.on .big_users		{ width:40px; height:40px; background-position:-45px -585px}
.big_clipboard:hover,	.big_clipboard.on,	a:hover .big_clipboard,	.on .big_clipboard	{ width:40px; height:40px; background-position:-90px -585px}
/*big sub*/
.big_find			{width:60px; height:30px; background-position:0px -480px}
.big_findauto		{width:60px; height:30px; background-position:-60px -480px}
.big_tactics		{width:60px; height:30px; background-position:-120px -480px}
.big_alarm			{width:60px; height:30px; background-position:-180px -480px}
.big_find:hover,	a:hover .big_find		{width:60px; height:30px; background-position:0px -510px}
.big_findauto:hover,a:hover .big_findauto	{width:60px; height:30px; background-position:-60px -510px}
.big_tactics:hover,	a:hover .big_tactics{width:60px; height:30px; background-position:-120px -510px}
.big_alarm:hover,a:hover .big_alarm		{width:60px; height:30px; background-position:-180px -510px}
/*shortcut*/
.shortcut_box		{ background-position:-300px 0px; width:48px; height:48px; }
.shortcut_board		{ background-position:-360px 0px; width:48px; height:48px; }
.shortcut_topo		{ background-position:-420px 0px; width:48px; height:48px; }
.shortcut_scan		{ background-position:-300px -60px; width:48px; height:48px; }
.shortcut_find		{ background-position:-360px -60px; width:48px; height:48px; }
.shortcut_cpu		{ background-position:-420px -60px; width:48px; height:48px; }
.shortcut_memory	{ background-position:-300px -120px; width:48px; height:48px; }
/*back*/
.back{	width:45px; height:45px; background-position:-300px -240px; position:absolute; top:2px; right:2px; z-index:9999 }
.back:hover{ background-position:-360px -240px;}
/*port*/
.port_green			{ background-position: -420px -390px; width:45px; height:45px;}
.port_green:hover	{ background-position: -360px -390px;}
.port_green.on		{ background-position: -480px -390px;}
.port_red			{ background-position: -420px -450px; width:45px; height:45px;}
.port_red:hover		{ background-position: -360px -450px;}
.port_red.on		{ background-position: -480px -450px;}
.port_gray			{ background-position: -420px -510px; width:45px; height:45px;}
.port_gray:hover	{ background-position: -360px -510px;}
.port_gray.on		{ background-position: -480px -510px;}
.port_no			{ background-position: -420px -570px; width:45px; height:45px;}
.port_no:hover		{ background-position: -360px -570px;}
.port_no.on			{ background-position: -480px -570px;}
.port_null			{ background-position: -360px -630px; width:45px; height:45px;}
.port_sgreen		{ background-position: -420px -750px;}
.port_sred			{ background-position: -450px -750px;}
.port_sgray			{ background-position: -480px -750px;}
/*ico by yanghenan*/
.icon_refresh 	{ background:url(../images/ico/btn_control.png) no-repeat;  background-position:-45px -15px}
.icon_collect 	{ background:url(../images/ico/btn_control.png) no-repeat;  background-position:-15px -15px}
.lights,*[class^="lights_"]{ width:16px; height:16px; line-height:16px; margin-right:2px; vertical-align: middle; display: inline-block; background:url(../images/ico/lights_ico.png) no-repeat; overflow:hidden;}
.lights_fix		{margin-left:100px;}
.lights_red 	{background-position:0px 0px}
.lights_green 	{background-position:0px -16px}
.lights_yellow 	{background-position:0px -32px}
.lights_grace 	{background-position:0px -48px}
.lights_greenr	{background-position:0px -64px}
.lights_redr	{background-position:0px -80px}
.lights_gracer	{background-position:0px -96px}
.lights_none	{background-position:0px -112px}
.lightsempty     { width:16px; height:16px; line-height:16px; margin-right:2px; vertical-align: middle; display: inline-block;  overflow:hidden;} 
/*tools*/
.tool_mib { 				background-position: -180px -750px;}
.tool_ping { 				background-position: -210px -750px;}
.tool_remoteping { 			background-position: -240px -750px;}
.tool_snmptest { 			background-position: -270px -750px;}
.tool_telnet { 				background-position: -300px -750px;}
.tool_snc { 				background-position: -330px -750px;}
.tool_traceroute { 			background-position: -360px -750px;}
.tool_web { 				background-position: -390px -750px;}
.tool_vlan { 				background-position: -450px -720px;}
.tool_addr { 				background-position: -480px -720px;}
.tool_port { 				background-position: -510px -720px;}
/**/
/*just icon*/
.icon_access	{ background-position:-150px -330px; cursor:default}
.icon_noaccess	{ background-position:-180px -270px; cursor:default}
